SECRET_KEY=''

RPI_URL='xxx.xxx.x.xxx'
MQTT_BROKER_PORT=1883
WS_BROKER_PORT=9001

MQTT_CLIENT_ID=my_sensor_client
MQTT_TOPIC_ESP8266='/esp8266/#'
MQTT_TOPIC_BME280='/esp8266/bme280'
MQTT_TOPIC_DHT22='/esp8266/dht22'

DATABASE_URL='sqlite:////...'

BOT_TOKEN =''
CHAT_ID=xxxxx

APP_ENV=production

