<dialog id="create-dialog" class="dialog-modal dialog" aria-labelledby="create-dialog__title" closedby="any">
    {% with title='Добавить наблюдение', commandfor='create-dialog' %}
        {% include 'includes/form_heading.html' %}
    {% endwith %}
    <form id="create-form" method="post" action="{{ url_for('observations.create_observation') }}">
        {{ add_form.hidden_tag() }}
        <div class="form-group">
            {{ add_form.created_at.label() }}
            {{ add_form.created_at(class="form-control") }}
        </div>
        {% with form = add_form %}
            {% include 'observations/_observation_form_fields.html' %}
        {% endwith %}
        {{ add_form.submit(class="button button--blue") }}
    </form>
</dialog>
