<dialog id="filter-dialog" class="dialog-modal dialog">
    {% with title='Фильтр по дате', commandfor='filter-dialog' %}
        {% include 'includes/form_heading.html' %}
    {% endwith %}
    {% include 'icons/icon_change.html' %}
    <form method="get" action="{{ url_for('observations.observations') }}" class="form filter-form" id="filter-form">
        <div class="calendar-wrapper">
            <div class="input-wrapper">
                {{ filter_form.start_date.label(class="form-label") }}
                {{ filter_form.start_date(class="form-control", type="date", id="start_date") }}
            </div>
            <button type="button" id="button-swap-dates" class="button button-change">
                <svg aria-hidden="true" width="24" height="24" class="svg-change">
                    <use xlink:href="#change-icon"></use>
                </svg>
            </button>
            <div class="input-wrapper">
                {{ filter_form.end_date.label(class="form-label") }}
                {{ filter_form.end_date(class="form-control", type="date", id="end_date") }}
            </div>
        </div>
        <span id="filter-form-error" class="form__error"></span>
        <div class="buttons">
            {{ filter_form.submit(class="button button--blue") }}
            {% if start_date or end_date %}
            <a href="{{ url_for('observations.observations') }}" class="button button--invert">Очистить</a>
            {% endif %}
        </div>
    </form>
</dialog>
