/* https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/ */
/* https://pepelsbey.dev/articles/native-light-dark/  */

.header {
    padding-block: var(--gap4);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width < 700px) {
      display: flex;
      justify-content: space-between;
      row-gap: var(--gap8);
      padding-block-end: var(--gap8);
    }
  }

  .header__logo {
    display: inline-block;
    width: 60px;
    align-self: center;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--gap4);

    @media (width < 700px) {
        display: block;
    }
}

.menu-icon {
    width: 24px;
    height: 24px;
}

.menu-close {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: var(--gap4);
    align-self: end;

    @media (width < 700px) {
        display: block;
        justify-self: end;
    }
}

.close-icon {
    width: 24px;
    height: 24px;
}


.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  color: var(--base-grey-color);

  @media (width < 700px) {
    position: fixed;
    top: 0;
    left: -100dvw;
    width: 100dvw;
    height: 100dvh;
    background: var(--accent-color);
    transition: left 0.3s ease-in-out;
    padding: var(--gap8);
    z-index: 1000;

    display: grid;
    gap: var(--gap16);
    grid-template-rows: auto 1fr auto;
  }
}

.nav-box.open {
  left: 0;
}

.nav {
  margin-inline: auto;

  @media (width < 700px) {
    width: calc(100dvw - 2 * var(--gap8));
    align-self: start;
  }
}


.nav__items {
  display: grid;
  grid-auto-flow: column;
  column-gap: var(--gap16);
  margin: 0;

  @media (width < 700px) {
    grid-auto-flow: row;
    row-gap: var(--gap8);
    justify-content: center;
  }
}

.nav__item {
  font-weight: bold;
  text-align: center;

  &:not(:has(ul)):hover {
    color: var(--base-blue-color);
  }

  & > a {
    text-decoration: none;
    /* display: inline-block; */
    display: block;
  }

  &:has(ul) {
    position: relative;

    /* &:hover,
    &:focus-within {
      .nested {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;
      }
    } */
  }
}

.nav__item.active > a {
  text-decoration: underline;
  color: var(--base-blue-color);
}

.nav__button {
  background: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  display: inline-flex;
  align-items: center;

  &::after {
    content: "";
    border: 6px solid transparent;
    border-top-color: var(--base-grey-color);
    margin-left: var(--gap4);
    transform: translateY(6px);
  }

  &[aria-expanded=true]::after {
    border-top-color: transparent;
    border-bottom-color: var(--base-grey-color);
    transform: translateY(-6px);
    /* transform: translateY(calc(-1 * var(--gap2))); */
  }
}

 .nested {
    background: var(--accent-color);
    border-radius: var(--gap2);
    border: 1px solid var(--base-blue-color);
    padding: var(--gap8);
    position: absolute;
    top: calc(100% - var(--gap2));
    left: 20%;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all 120ms ease-out;

    & a {
      padding-block: var(--gap2);
      font-weight: normal;
      width: max-content;
    }
 }

.nested.open {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
  z-index: 2000;
}

.theme-switcher {
  align-self: center;
  display: flex;
  gap: var(--gap4);
	width: fit-content;
	border: 1px solid var(--medium-blue-color);
	/* border-radius: calc(infinity * 1px); */
  border-radius: var(--gap2);
  padding: var(--gap2);

  @media (width < 700px) {
    justify-self: center;
  }
}

.theme-switcher__button {
  margin: 0;
  padding-inline: var(--gap4);
  border: none;
  border-radius: var(--gap2);
  background-color: transparent;
  cursor: pointer;
  color: var(--base-grey-color);
  font: inherit;

  &:hover:not([aria-pressed='true']) {
    background: var(--base-grey-color);
    color: var(--accent-color);
  }

  &[aria-pressed='true'] {
    background: var(--medium-blue-color);
    color: var(--accent-color);
  }
}
