{% include 'icons/icons_theme_switcher.html' %}
<header class="header">
    <a href="{{ url_for('main.index') }}" class="header__logo">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="logo">
    </a>
    <div class="nav-box" id="mobile-menu">
        <button class="menu-close" aria-label="Close menu">
            <svg class="close-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
        <nav class="nav" aria-label="Main menu">
            <ul class="nav__items">
                {% for item in menu %}
                <li class="nav__item" data-url="{{ item.url }}">
                    {% if item.nested and not item.url %}
                    <button 
                        type="button"
                        class="nav__button"
                        aria-expanded="false"
                        aria-controls="menu-dropdown"
                    >
                        {{ item.text }}
                    </button>
                    <ul class="nested" id="menu-dropdown">
                        {% for i in item.nested %}
                        <li class="nav__item" data-url="{{ i.url }}">
                            <a href="{{ url_for(i.url) }}">{{ i.text }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% elif item.url %}
                    <a href="{{ url_for(item.url) }}">{{ item.text }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        {% include 'includes/theme_switcher.html' %}
    </div>
    <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false" aria-controls="mobile-menu" >
        <svg class="menu-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
    </button>
</header>

